body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
body.dark-mode .card {
  background-color: #1e1e1e;
  color: #ffffff;
}
body.dark-mode .btn-primary {
  background-color: #4caf50;
  border: none;
}

body {
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
